@charset "UTF-80";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --cor1:#68b2f8;
    --cor2:#506ee5;
    --cor3:#7037cd;
    --cor4:#651f71;
    --cor5:#1d0c20;
}

body{
    background-image: linear-gradient(to right, var(--cor2),var(--cor3),var(--cor4))
}

div{
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor3), var(--cor4));
    padding:10px;
    border-radius: 10px;
    width: 500px;
    margin: auto;
    margin-top: 100px;
    box-shadow: 3px 3px 3px var(--cor5)
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    margin: auto;
}

form h1 {
    font-size: 30px;
    color: var(--cor1);
    text-align: center;
    margin-top: 30px;
    text-shadow: 3px 3px 3px var(--cor5);
}

form label {
    font-size: 20px;
    color: var(--cor1);
    text-shadow: 3px 3px 3px var(--cor5);
}

form input {
    background-color: var(--cor2);
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border: var(--cor5) solid 2px;
}

form input::placeholder {
    color: var(--cor1);
    padding-left: 5px;
    font-size: 15px;
}

form input:hover{
    background-color: var(--cor3);
}

form p {
    margin-top: 20px;
    font-size: 20px;
    color: var(--cor1);
    text-align: center;
    text-shadow: 3px 3px 3px var(--cor5);
}

form p a {
    text-decoration: underline;
    color: var(--cor1);
}

form p a:hover {
    color: var(--cor3);
}

form button  {
    font-size: 15px;
    width: 300px;
    height: 30px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: var(--cor5)
    solid 2px;
    background-color: var(--cor2);
    color:var(--cor1);
    text-shadow: 3px 2px 2px var(--cor5);
}

form button:hover {
    background-color: var(--cor3);
    color: var(--cor1);
}