@charset "UTF-80";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --cor1: #234d20;
    --cor2: #36802d;
    --cor3: #77ab59;
    --cor4: #c9df8a;
    --cor5: #f0f7da;
}

body{
    background-image: linear-gradient(to bottom, var(--cor2),var(--cor3),var(--cor4))
}

div{
    background-image: linear-gradient(to top, var(--cor2), var(--cor3));
    padding:5px;
    border-radius: 10px;
    width: 500px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    box-shadow: 3px 3px 3px var(--cor1)
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    margin: auto;
}

form h1 {
    font-size: 30px;
    color: var(--cor5);
    text-align: center;
    margin-top: 30px;
    text-shadow: 3px 3px 3px var(--cor1);
}

form label {
    font-size: 20px;
    color: var(--cor5);
    text-shadow: 3px 3px 3px var(--cor1);
}

form input {
    background-color: var(--cor4);
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border: var(--cor1) solid 2px;
}

form input::placeholder {
    color: var(--cor1);
    padding-left: 5px;
    font-size: 15px;
}

form input:hover{
    background-color: var(--cor3);
}

form p {
    margin-top: 20px;
    font-size: 20px;
    color: var(--cor5);
    text-align: center;
    text-shadow: 3px 3px 3px var(--cor1);
}

form p a {
    text-decoration: underline;
    color: var(--cor5);
}

form p a:hover {
    color: var(--cor4);
}

form button  {
    font-size: 15px;
    width: 300px;
    height: 30px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: var(--cor5)
    solid 2px;
    background-color: var(--cor2);
    color:var(--cor4);
    text-shadow: 3px 2px 2px var(--cor1);
}

form button:hover {
    background-color: var(--cor3);
    color: var(--cor5);
}